<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <title>FOOD-STOP By Moses |<%= title %></title>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="container-fluid">
      <div class="col text-center py-3">
        <h1>Add Recipe</h1>
      </div>
      <div class="row g-6" id="data">
        <div class="col-6 offset-3 border-secondary shadow py-3 px-5 rounded">
          <form class="form_container" id="add-form" method="post" action="/users/add" enctype="application/x-www-form-urlencoded">
            <div class="form-group mb-1">
              <label for="name" class="form-label"></label>
              <div class="">
                <input type="name" class="form-control" id="title" placeholder="Title" name="title">
              </div>
            </div>
            <div class="form-group mb-1">
              <select id="meal-type">
                <option>Meal Type</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="supper">Supper</option>
                <option value="snack">Snack</option>
              </select>
            </div>
            <div class="form-group mb-1">
              <select id="difficulty-level">
                <option>Difficulty Level</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
              </select>
            </div>
            <div class="form-group mb-1">
              <label for="ingredients-name" class="form-label"></label>
              <div class="">
                <input type="text" class="form-control" id="ingredients-name" placeholder="ingredients-name" name="ingredients-name">
              </div>
              <label for="ingredients-price" class="form-label"></label>
              <div class="">
                <input type="text" class="form-control" id="ingredients-price" placeholder="ingredients-price" name="ingredients-price">
              </div>
              <div class="">
                <input type="submit" class="btn btn-danger" id="ingredients-submit" placeholder="add" value="Add">
              </div>
            </div>
            <div class="form-group mb-5">
              <label for="preparation" class="form-label"></label>
              <div class="">
                <textarea type="text" class="form-control" id="preparation" placeholder="preparation" name="preparation"></textarea>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="text-center">
                <input type="submit" class="btn btn-primary" id="submit" value="Add Recipe" >
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
    

 



  <script src="/javascripts/form.js"></script>
  <%- include('./partials/footer.ejs') %>
</body>
</html>

